  # **1. Imports**

In [ ]:
import numpy as np
import pandas as pd



# **2.   Chargement des datasets**

In [ ]:
df_communes = pd.read_csv("Documents/gyj/Test_technique_analyst/data/details_communes.csv")
df_centres = pd.read_csv("Documents/gyj/Test_technique_analyst/data/centres_service.csv")
df_socio = pd.read_csv("Documents/gyj/Test_technique_analyst/data/donnees_socioeconomiques.csv")
df_dev = pd.read_csv("Documents/gyj/Test_technique_analyst/data/developpement.csv")
df_routes = pd.read_csv("Documents/gyj/Test_technique_analyst/data/reseau_routier_togo_ext.csv")
df_docs = pd.read_csv("Documents/gyj/Test_technique_analyst/data/documents_administratifs_ext.csv")
df_demandes = pd.read_csv("Documents/gyj/Test_technique_analyst/data/demandes_service_public.csv")
df_logs = pd.read_csv("Documents/gyj/Test_technique_analyst/data/logs_activite.csv")

# **3. Aperçu structurel**

# **details_communes**

In [ ]:
# Vérification des dimensions des dataframes
df_communes.shape

(200, 13)

In [ ]:
# Vérification des types de variables
df_communes.dtypes

commune_id               object
commune                  object
prefecture               object
region                   object
latitude                float64
longitude               float64
altitude_m                int64
superficie_km2            int64
population_densite        int64
code_postal              object
type_commune             object
distance_capitale_km      int64
zone_climatique          object
dtype: object

In [ ]:
# Aperçu du contenu
df_communes.head()

,commune_id,commune,prefecture,region,latitude,longitude,altitude_m,superficie_km2,population_densite,code_postal,type_commune,distance_capitale_km,zone_climatique
0,COM001,Vogan,Vo,Maritime,6.2295,1.5040,19,343,35,BP 272,Rurale,34,Côtière
1,COM002,Hahotoé,Vo,Maritime,6.6892,1.6588,39,398,210,BP 239,Semi-urbaine,79,Côtière
2,COM003,Anyronkopé,Vo,Maritime,6.4158,1.2398,47,215,76,BP 495,Rurale,31,Côtière
3,COM004,Momé,Vo,Maritime,6.2023,1.6180,41,230,95,BP 60,Rurale,45,Côtière
4,COM005,Dagbati,Vo,Maritime,6.3068,1.6507,25,318,58,BP 235,Rurale,52,Côtière

**Aperçu dataset** : COMMUNES\
 **Dimensions :** (200 , 13)\
 **Types :** object + int    
 **Colonnes importantes :** commune_id, commune, prefecture, region, population, type_commune, distance_capitale, latitude, longitude\
 **Notes :** ce dataset répertorie les informations concernant les communes existant au Togo.

# **centres_service.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_centres.shape

(55, 16)

In [ ]:
# Vérification des types de variables
df_centres.dtypes

centre_id                   object
nom_centre                  object
type_centre                 object
region                      object
prefecture                  object
commune                     object
quartier                    object
latitude                   float64
longitude                  float64
personnel_capacite_jour      int64
nombre_guichets              int64
heures_ouverture            object
horaire_nuit                object
equipement_numerique        object
date_ouverture              object
statut_centre               object
dtype: object

In [ ]:
# Aperçu du contenu
df_centres.head()

,centre_id,nom_centre,type_centre,region,prefecture,commune,quartier,latitude,longitude,personnel_capacite_jour,nombre_guichets,heures_ouverture,horaire_nuit,equipement_numerique,date_ouverture,statut_centre
0,CT001,Centre Principal Dapaong,Principal,Savanes,Tône,Dapaong,Administratif,10.5920,0.4742,300,12,07:30-17:30,Non,Complet,2016-02-14,Actif
1,CT002,Centre Kévé,Secondaire,Maritime,Ave,Kévé,Zone industrielle,6.2815,1.2182,63,2,08:00-16:00,Non,Limite,2020-09-14,Actif
2,CT003,Centre Gando,Secondaire,Savanes,Oti-Sud,Gando,Zone industrielle,10.2629,0.2525,98,2,08:00-16:00,Non,Partiel,2015-06-02,Actif
3,CT004,Centre Pagouda,Secondaire,Kara,Binah,Pagouda,Gare routière,9.4247,1.1698,78,6,08:00-16:00,Non,Partiel,2019-12-03,Actif
4,CT005,Centre Tchamba,Secondaire,Centrale,Tchamba,Tchamba,Carrefour,8.5008,0.9988,62,3,08:00-16:00,Non,Limite,2022-10-20,Actif

**Aperçu dataset :** \
**CENTRES Dimensions :** (55 , 16) \
**Types :** object + int + float \
**Colonnes importantes :** centre_id, nom_centre, type_centre, prefecture, region, commune, quartier, latitude,longitude, personnel_capacite_jour, nombre_guichets, equipement_numerique, statut_centre \
**Notes :** ce dataset répertorie les informations concernant les centres de traitement des demandes des documents officiel au Togo.

#**donnees_socioecomiques.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_socio.shape

(115, 11)

In [ ]:
# Vérification des types de variables
df_socio.dtypes

region                   object
prefecture               object
commune                  object
population                int64
superficie_km2            int64
densite                   int64
taux_urbanisation       float64
taux_alphabétisation    float64
age_median                int64
nombre_menages            int64
revenu_moyen_fcfa         int64
dtype: object

In [ ]:
# Aperçu du contenu
df_socio.head()

,region,prefecture,commune,population,superficie_km2,densite,taux_urbanisation,taux_alphabétisation,age_median,nombre_menages,revenu_moyen_fcfa
0,Maritime,Vo,Vogan,48777,478,102,0.33,0.76,19,8590,78348
1,Maritime,Vo,Hahotoé,13939,444,31,0.35,0.66,21,3973,112380
2,Maritime,Vo,Anyronkopé,23395,355,65,0.18,0.72,21,4534,107120
3,Maritime,Vo,Momé,19379,302,64,0.10,0.81,22,4207,99265
4,Maritime,Vo,Dagbati,14846,309,48,0.32,0.79,22,3170,133012

**Aperçu dataset :** Socio-economique \
**Dimensions :** (115 , 11) \
**Types :** object + int + float \
**Colonnes importantes :** region, prefecture, commune, population, superficie_km2, densite, taux_urbanisation, taux_alphabétisation, age_median, nombre_menages, revenu_moyen_fcfa \
**Notes** : ce dataset répertorie les informations socioéconomique de la population par région,préfecture et commune au Togo.

# **developpement.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_dev.shape

(33, 15)

In [ ]:
# Vérification des types de variables
df_dev.dtypes

region                    object
prefecture                object
commune                   object
pib_par_habitant_fcfa      int64
taux_chomage             float64
taux_pauvrete            float64
acces_electricite        float64
acces_eau_potable        float64
acces_internet           float64
indice_developpement     float64
score_education          float64
score_sante              float64
nombre_ecoles              int64
nombre_hopitaux            int64
nombre_banques             int64
dtype: object

In [ ]:
# Aperçu du contenu
df_dev.head()

,region,prefecture,commune,pib_par_habitant_fcfa,taux_chomage,taux_pauvrete,acces_electricite,acces_eau_potable,acces_internet,indice_developpement,score_education,score_sante,nombre_ecoles,nombre_hopitaux,nombre_banques
0,Maritime,Vo,Lomé,860000,0.11,0.24,0.96,0.93,0.67,0.74,0.79,0.76,250,19,48
1,Maritime,Vo,Adakpamé,830000,0.12,0.26,0.94,0.91,0.63,0.71,0.77,0.74,220,16,40
2,Maritime,Golfe,Bè,720000,0.13,0.27,0.92,0.89,0.60,0.69,0.75,0.73,190,13,30
3,Maritime,Golfe,Agoè,700000,0.14,0.29,0.91,0.88,0.58,0.67,0.73,0.71,175,12,26
4,Maritime,Lacs,Aného,560000,0.16,0.31,0.86,0.83,0.46,0.63,0.69,0.66,98,6,16

**Aperçu dataset :** Developpement \
**Dimensions** : (33 , 15) \
**Types :** object + int + float
**Colonnes importantes :** region, prefecture, commune, pib_par_habitant_fcfa, taux_chomage, taux_pauvrete, acces_electricite, acces_eau_potable, acces_internet, indice_developpement, score_education, score_sante, nombre_ecoles, nombre_hopitaux, nombre_banques \
**Notes :** ce dataset contient les indicateurs de mesure du développement par region, prefecture, communel au Togo.

# **reseau_routier_togo_ext.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_routes.shape

(40, 14)

In [ ]:
# Vérification des types de variables
df_routes.dtypes

route_id                   object
type_route                 object
nom_route                  object
region_origine             object
region_destination         object
prefecture_origine         object
prefecture_destination     object
longueur_km                 int64
etat_route                 object
temps_parcours_heures     float64
points_controle             int64
bus_par_jour                int64
camions_par_jour            int64
passagers_par_jour          int64
dtype: object

In [ ]:
# Aperçu du contenu
df_routes.head()

,route_id,type_route,nom_route,region_origine,region_destination,prefecture_origine,prefecture_destination,longueur_km,etat_route,temps_parcours_heures,points_controle,bus_par_jour,camions_par_jour,passagers_par_jour
0,R001,Nationale,RN1,Maritime,Plateaux,Vo,Ogou,150,Bon,2.5,3,85,45,1250
1,R002,Nationale,RN2,Plateaux,Centrale,Ogou,Sotouboua,120,Moyen,2.8,2,65,35,950
2,R003,Nationale,RN3,Centrale,Kara,Sotouboua,Kozah,110,Moyen,2.6,2,60,30,850
3,R004,Nationale,RN4,Kara,Savanes,Kozah,Oti,95,Mediocre,3.0,2,45,25,650
4,R005,Nationale,RN5,Maritime,Kara,Vo,Kozah,420,Moyen,8.5,6,70,55,1600

**Aperçu dataset :** RESEAUX ROUTIERS \
**Dimensions :** (40 , 14) \
**Types :** object + int + float \
**Colonnes importantes :** route_id type_route nom_route region_origine region_destination prefecture_origine prefecture_destination longueur_km etat_route temps_parcours_heures points_controle bus_par_jour camions_par_jour passagers_par_jour \
**Notes :** ce dataset répertorie les informations concernant les réseaux routiers au Togo.

# **demandes_service_public.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_demandes.shape

(600, 16)

In [ ]:
# Vérification des types de variables
df_demandes.dtypes

demande_id                 object
region                     object
prefecture                 object
commune                    object
quartier                   object
type_document              object
categorie_document         object
nombre_demandes             int64
delai_traitement_jours      int64
taux_rejet                float64
date_demande               object
motif_demande              object
statut_demande             object
canal_demande              object
age_demandeur               int64
sexe_demandeur             object
dtype: object

In [ ]:
# Aperçu du contenu
df_demandes.head()

,demande_id,region,prefecture,commune,quartier,type_document,categorie_document,nombre_demandes,delai_traitement_jours,taux_rejet,date_demande,motif_demande,statut_demande,canal_demande,age_demandeur,sexe_demandeur
0,D001,Centrale,Sotouboua,Sotouboua,Nyékonakpoé,Carte d'identité,Identité,168,1,0.00,2023-09-30,Perte,Rejetée,En ligne,27,M
1,D002,Kara,Binah,Pagouda,Hôpital,Carte d'identité,Identité,17,22,0.09,2023-12-22,Vol,Traitee,En ligne,21,F
2,D003,Plateaux,Ogou,Atakpamé,Bè,Certificat de nationalité,Identité,104,4,0.08,2023-08-13,Concours,Traitee,En ligne,18,M
3,D004,Savanes,Oti,Mango,Amoutivé,Carte d'identité,Identité,92,39,0.02,2023-06-08,Première demande,Rejetée,Guichet,64,M
4,D005,Maritime,Zio,Tsévié,Adidogomé,Livre de famille,Civil,138,7,0.12,2023-02-02,Détérioration,Rejetée,En ligne,30,M

**Aperçu dataset :** DEMANDES SERVICE PUBLIC \
**Dimensions :** (600 , 16) \
**Types :** object + int + float \
**Colonnes importantes :** demande_id region prefecture commune quartier type_document categorie_document nombre_demandes delai_traitement_jours taux_rejet date_demande motif_demande statut_demande canal_demande age_demandeur sexe_demandeur \
**Notes :** ce dataset contient les informations sur chaque demande de documents officiel au Togo.

# **documents_admistratifs.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_docs.shape

(64, 9)

In [ ]:
# Vérification des types de variables
df_docs.dtypes

annee                  int64
mois                   int64
region                object
prefecture            object
commune               object
type_document         object
nombre_demandes        int64
delai_moyen_jours    float64
taux_rejet_moyen     float64
dtype: object

In [ ]:
# Aperçu du contenu
df_docs.head()

,annee,mois,region,prefecture,commune,type_document,nombre_demandes,delai_moyen_jours,taux_rejet_moyen
0,2023,1,Maritime,Vo,Lomé,Carte d'identité,2450,12.5,0.05
1,2023,1,Maritime,Vo,Lomé,Passeport,1650,25.2,0.08
2,2023,1,Maritime,Vo,Lomé,Acte de naissance,890,10.1,0.02
3,2023,1,Maritime,Vo,Lomé,Livre de famille,620,15.3,0.03
4,2023,1,Maritime,Lacs,Aného,Carte d'identité,1250,14.5,0.04

**Aperçu dataset :** DOCUMENTS ADMINISTRATIFS \
**Dimensions :** (64, 9) \
**Types :** object + int + float \
**Colonnes importantes :** annee mois region prefecture commune type_document nombre_demandes delai_moyen_jours taux_rejet_moyen \
**Notes :** ce dataset contient les informations agrégées sur les demandes par année, mois..., des documents officiel au Togo.

# **logs_activites.csv**

In [ ]:
# Vérification des dimensions des dataframes
df_logs.shape

(450, 14)

In [ ]:
# Vérification des types de variables
df_logs.dtypes

log_id                         object
centre_id                      object
date_operation                 object
type_operation                 object
type_document                  object
nombre_traite                   int64
delai_effectif                  int64
nombre_rejete                   int64
raison_rejet                   object
personnel_present               int64
temps_attente_moyen_minutes     int64
incident_technique             object
heure_debut                    object
heure_fin                      object
dtype: object

In [ ]:
# Aperçu du contenu
df_logs.head()

,log_id,centre_id,date_operation,type_operation,type_document,nombre_traite,delai_effectif,nombre_rejete,raison_rejet,personnel_present,temps_attente_moyen_minutes,incident_technique,heure_debut,heure_fin
0,LOG001,CT015,2023-10-30,Traitement,Carte d'identité,241,41,31,Non éligible,15,58,Non,08:00,16:00
1,LOG002,CT026,2023-04-21,Maintenance,NaN,0,0,0,NaN,12,0,Non,09:00,19:00
2,LOG003,CT049,2023-08-22,Traitement,Livre de famille,62,19,0,NaN,12,95,Non,08:30,17:30
3,LOG004,CT047,2023-07-13,Traitement,Acte de naissance,139,22,12,Double demande,7,54,Non,08:15,16:15
4,LOG005,CT008,2023-04-08,Traitement,Passeport,71,35,6,Double demande,13,94,Oui,08:30,17:30

**Aperçu dataset :** LOGS ACTIVITES \
**Dimensions :** (450 , 14) \
**Types :** object + int + float \
**Colonnes importantes :** log_id centre_id date_operation type_operation type_document nombre_traite delai_effectif nombre_rejete raison_rejet personnel_present temps_attente_moyen_minutes incident_technique heure_debut heure_fin \
**Notes** : ce dataset contient les informations de logs des traitements des demandes des documents officiel au Togo.

# **4. Identification des clés**

# **5. Notes et observations**

# **BLOC 2: Qualité des données**

# **details_communes**

In [ ]:
print("Dimensions :", df_communes.shape)
print("Types des colonnes :")
df_communes.dtypes

Dimensions : (200, 13)
Types :

commune_id               object
commune                  object
prefecture               object
region                   object
latitude                float64
longitude               float64
altitude_m                int64
superficie_km2            int64
population_densite        int64
code_postal              object
type_commune             object
distance_capitale_km      int64
zone_climatique          object
dtype: object

In [ ]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_communes.isnull().sum()

Valeurs manquantes :

commune_id              0
commune                 0
prefecture              0
region                  0
latitude                0
longitude               0
altitude_m              0
superficie_km2          0
population_densite      0
code_postal             0
type_commune            0
distance_capitale_km    0
zone_climatique         0
dtype: int64

In [67]:
#Vérifier les doublons
print("Doublons :", df_communes.duplicated(['commune', 'prefecture', 'region']).sum())

Doublons : 2

In [ ]:
# Vérifier la granularité des données
df_communes.nunique()

commune_id              200
commune                 198
prefecture               37
region                    5
latitude                199
longitude               197
altitude_m              164
superficie_km2          161
population_densite      126
code_postal             160
type_commune              3
distance_capitale_km    164
zone_climatique           4
dtype: int64

In [ ]:
# Décrire les valeurs numériques
df_communes.describe()

,latitude,longitude,altitude_m,superficie_km2,population_densite,distance_capitale_km
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,8.153211,1.059142,290.525000,362.885000,208.610000,229.715000
std,1.513130,0.365370,205.517827,130.180477,569.698243,166.393624
min,6.112500,0.006700,8.000000,102.000000,20.000000,3.000000
25%,6.652650,0.840575,67.000000,249.750000,43.750000,67.250000
50%,7.759900,1.150050,283.500000,351.500000,77.000000,183.500000
75%,9.561700,1.314600,443.500000,479.000000,155.250000,381.000000
max,11.032300,1.688700,783.000000,600.000000,4690.000000,556.000000

In [ ]:
# Décrire les variables catégorielles
df_communes.describe(include=['object'])

,commune_id,commune,prefecture,region,code_postal,type_commune,zone_climatique
count,200,200,200,200,200,200,200
unique,200,198,37,5,160,3,4
top,COM001,Cinkassé Central,Golfe,Maritime,BP 239,Rurale,Savane
freq,1,2,11,55,3,138,87

In [ ]:
cat_cols = df_communes.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_communes[col].unique())

commune_id => ['COM001' 'COM002' 'COM003' 'COM004' 'COM005' 'COM006' 'COM007' 'COM008'
 'COM009' 'COM010' 'COM011' 'COM012' 'COM013' 'COM014' 'COM015' 'COM016'
 'COM017' 'COM018' 'COM019' 'COM020' 'COM021' 'COM022' 'COM023' 'COM024'
 'COM025' 'COM026' 'COM027' 'COM028' 'COM029' 'COM030' 'COM031' 'COM032'
 'COM033' 'COM034' 'COM035' 'COM036' 'COM037' 'COM038' 'COM039' 'COM040'
 'COM041' 'COM042' 'COM043' 'COM044' 'COM045' 'COM046' 'COM047' 'COM048'
 'COM049' 'COM050' 'COM051' 'COM052' 'COM053' 'COM054' 'COM055' 'COM056'
 'COM057' 'COM058' 'COM059' 'COM060' 'COM061' 'COM062' 'COM063' 'COM064'
 'COM065' 'COM066' 'COM067' 'COM068' 'COM069' 'COM070' 'COM071' 'COM072'
 'COM073' 'COM074' 'COM075' 'COM076' 'COM077' 'COM078' 'COM079' 'COM080'
 'COM081' 'COM082' 'COM083' 'COM084' 'COM085' 'COM086' 'COM087' 'COM088'
 'COM089' 'COM090' 'COM091' 'COM092' 'COM093' 'COM094' 'COM095' 'COM096'
 'COM097' 'COM098' 'COM099' 'COM100' 'COM101' 'COM102' 'COM103' 'COM104'
 'COM105' 'COM106' 'COM107' 'COM108' 'COM109' 'COM110' 'COM111' 'COM112'
 'COM113' 'COM114' 'COM115' 'COM116' 'COM117' 'COM118' 'COM119' 'COM120'
 'COM121' 'COM122' 'COM123' 'COM124' 'COM125' 'COM126' 'COM127' 'COM128'
 'COM129' 'COM130' 'COM131' 'COM132' 'COM133' 'COM134' 'COM135' 'COM136'
 'COM137' 'COM138' 'COM139' 'COM140' 'COM141' 'COM142' 'COM143' 'COM144'
 'COM145' 'COM146' 'COM147' 'COM148' 'COM149' 'COM150' 'COM151' 'COM152'
 'COM153' 'COM154' 'COM155' 'COM156' 'COM157' 'COM158' 'COM159' 'COM160'
 'COM161' 'COM162' 'COM163' 'COM164' 'COM165' 'COM166' 'COM167' 'COM168'
 'COM169' 'COM170' 'COM171' 'COM172' 'COM173' 'COM174' 'COM175' 'COM176'
 'COM177' 'COM178' 'COM179' 'COM180' 'COM181' 'COM182' 'COM183' 'COM184'
 'COM185' 'COM186' 'COM187' 'COM188' 'COM189' 'COM190' 'COM191' 'COM192'
 'COM193' 'COM194' 'COM195' 'COM196' 'COM197' 'COM198' 'COM199' 'COM200']
commune => ['Vogan' 'Hahotoé' 'Anyronkopé' 'Momé' 'Dagbati' 'Akoumapé' 'Sevagan'
 'Wogba' 'Koutigué' 'Lomé' 'Aflao-Gakli' 'Bè-Est' 'Bè-Ouest' 'Amoutivé'
 'Baguida' 'Togblékopé' 'Aflao-Sagbado' 'Legbassito' 'Vakpossito' 'Aného'
 'Glidji' 'Agouégan' 'Aklakou' 'Ganavé' 'Agbodrafo' 'Kouve' 'Tabligbo'
 'Ahépé' 'Kouvé' 'Tokpli' 'Gboto' 'Zafi' 'Tchékpo' 'Afagnan' 'Agazou'
 'Attitogon' 'Hompou' 'Kpetou' 'Tsévié' 'Agbelouvé' 'Gblainvié' 'Gapé'
 'Kovié' 'Bolou' 'Gamé' 'Mission-Tové' 'Abobo' 'Kévé' 'Assahoun' 'Badja'
 'Noépé' 'Aképé' 'Atakpamé' 'Gléï' 'Datcha' 'Akparé' 'Ountivou' 'Kpalimé'
 'Agou' 'Kuma' 'Lavie' 'Tové' 'Kpadapé' 'Yoh' 'Amlamé' 'Hihéatro'
 'Témédja' 'Otadi' 'Badou' "Gbadi-N'Kugna" 'Kessibo' 'Okou' 'Notsé'
 'Wahala' 'Asrama' 'Kpédomé' 'Ayito' 'Elavagnon' 'Moretan' 'Kamina'
 'Badin' 'Tohoun' 'Tado' 'Saligbé' 'Kpekpleme' 'Danyi-Apéyémé'
 'Danyi-Atigba' 'Danyi-Elavagnon' 'Agou-Gadzépé' 'Agou-Nyogbo'
 'Agou-Tavié' 'Agou-Iboé' 'Kpele-Adeta' 'Kpele-Govié' 'Kpele-Tutunigramé'
 'Kougnohou' 'Yalla' 'Djon' 'Sokodé' 'Lama-Tessi' 'Aleheride' 'Kpangalam'
 'Wassararou' 'Kadambara' 'Sotouboua' 'Adjengré' 'Tchébébé' 'Aouda'
 'Fazao' 'Titigbé' 'Tchamba' 'Kaboli' 'Alibi' 'Goubi' 'Kri-Kri'
 'Blitta-Gare' 'Blitta-Village' 'Pagala' 'Tintilou' 'Langabou' 'Yaloumbé'
 'Djarkpanga' 'Tindjassé' 'Boulohou' 'Kara' 'Lama-Kara' 'Landa' 'Soumdina'
 'Pya' 'Tcharè' 'Lassa' 'Pagouda' 'Kétao' 'Pessoa' 'Boufalé' 'Sirka'
 'Niamtougou' 'Défalé' 'Pouda' 'Koka' 'Ténèga' 'Kanté' 'Ataloté' 'Akpontè'
 'Bassar' 'Kabou' 'Bangéli' 'Dimori' 'Bitchabé' 'Guérin-Kouka' 'Natchamba'
 'Nampoch' 'Bafilo' 'Bouladè' 'Alédjo' 'Soudou' 'Dapaong' 'Korbongou'
 'Nioukpourma' 'Pana' 'Naki-Ouest' 'Poissongui' 'Mango' 'Gando'
 'Barkoissi' 'Mogou' 'Nali' 'Takpamba' 'Koumongou' 'Tandjouaré'
 'Bombouaka' 'Bogou' 'Mamproug' 'Mandouri' 'Koundjoaré' 'Naki-Est'
 'Nayéga' 'Cinkassé' 'Gnoaga' 'Boadé' 'Sam-Naba' 'Mo Ouest'
 'Cinkassé Central' 'Kloto Sud' 'Oti Central' 'Doufelgou Central'
 'Tchamba Est' 'Blitta Nord' 'Zio Nord' 'Moyen-Mono Central' 'Golfe Sud'
 'Amou Ouest' 'Dankpen Est' 'Amou Central' 'Tandjouaré Central'
 'Binah Est' 'Amou Sud' 'Sotouboua Central']
prefecture => ['Vo' 'Golfe' 'Lacs' 'Yoto' 'Bas-Mono' 'Zio' 'Ave' 'Ogou' 'Kloto' 'Amou'
 'Wawa' 'Haho' 'Est-Mono' 'Moyen-Mono' 'Danyi' 'Agou' 'Kpélé' 'Akébou'
 'Tchaoudjo' 'Sotouboua' 'Tchamba' 'Blitta' 'Mo' 'Kozah' 'Binah'
 'Doufelgou' 'Kéran' 'Bassar' 'Dankpen' 'Assoli' 'Tône' 'Oti' 'Oti-Sud'
 'Tandjouaré' 'Kpendjal' 'Kpendjal-Ouest' 'Cinkassé']
region => ['Maritime' 'Plateaux' 'Centrale' 'Kara' 'Savanes']
code_postal => ['BP 272' 'BP 239' 'BP 495' 'BP 60' 'BP 235' 'BP 32' 'BP 152' 'BP 123'
 'BP 145' 'BP 137' 'BP 265' 'BP 237' 'BP 393' 'BP 300' 'BP 58' 'BP 174'
 'BP 375' 'BP 86' 'BP 356' 'BP 364' 'BP 277' 'BP 114' 'BP 158' 'BP 323'
 'BP 380' 'BP 88' 'BP 54' 'BP 449' 'BP 391' 'BP 399' 'BP 304' 'BP 229'
 'BP 186' 'BP 117' 'BP 278' 'BP 124' 'BP 293' 'BP 369' 'BP 318' 'BP 429'
 'BP 486' 'BP 303' 'BP 251' 'BP 6' 'BP 37' 'BP 395' 'BP 87' 'BP 463'
 'BP 205' 'BP 448' 'BP 66' 'BP 284' 'BP 98' 'BP 163' 'BP 3' 'BP 259'
 'BP 387' 'BP 424' 'BP 118' 'BP 359' 'BP 216' 'BP 165' 'BP 443' 'BP 40'
 'BP 354' 'BP 188' 'BP 366' 'BP 455' 'BP 388' 'BP 374' 'BP 74' 'BP 475'
 'BP 464' 'BP 288' 'BP 140' 'BP 451' 'BP 211' 'BP 90' 'BP 419' 'BP 133'
 'BP 99' 'BP 275' 'BP 436' 'BP 127' 'BP 125' 'BP 130' 'BP 97' 'BP 483'
 'BP 75' 'BP 358' 'BP 169' 'BP 96' 'BP 418' 'BP 434' 'BP 180' 'BP 313'
 'BP 365' 'BP 442' 'BP 194' 'BP 326' 'BP 376' 'BP 204' 'BP 352' 'BP 76'
 'BP 485' 'BP 447' 'BP 373' 'BP 394' 'BP 337' 'BP 468' 'BP 89' 'BP 107'
 'BP 159' 'BP 92' 'BP 7' 'BP 134' 'BP 234' 'BP 203' 'BP 466' 'BP 368'
 'BP 20' 'BP 236' 'BP 196' 'BP 144' 'BP 81' 'BP 454' 'BP 223' 'BP 314'
 'BP 187' 'BP 310' 'BP 266' 'BP 289' 'BP 370' 'BP 167' 'BP 161' 'BP 39'
 'BP 148' 'BP 164' 'BP 62' 'BP 244' 'BP 430' 'BP 481' 'BP 467' 'BP 431'
 'BP 247' 'BP 471' 'BP 243' 'BP 104' 'BP 59' 'BP 421' 'BP 360' 'BP 15'
 'BP 47' 'BP 435' 'BP 173' 'BP 136' 'BP 273' 'BP 325' 'BP 232' 'BP 458']
type_commune => ['Rurale' 'Semi-urbaine' 'Urbaine']
zone_climatique => ['Côtière' 'Transition' 'Plateau/Montagneux' 'Savane']

COMMUNES :

* Manquants : 0

* Doublons : 2

* Types incohérents : non

* Observations :

# **centres_service.csv**

In [70]:
print("Dimensions :", df_centres.shape)
print("Types des colonnes :")
df_centres.dtypes

Dimensions : (55, 16)
Types des colonnes :

centre_id                   object
nom_centre                  object
type_centre                 object
region                      object
prefecture                  object
commune                     object
quartier                    object
latitude                   float64
longitude                  float64
personnel_capacite_jour      int64
nombre_guichets              int64
heures_ouverture            object
horaire_nuit                object
equipement_numerique        object
date_ouverture              object
statut_centre               object
dtype: object

In [71]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_centres.isnull().sum()

Valeurs manquantes :

centre_id                  0
nom_centre                 0
type_centre                0
region                     0
prefecture                 0
commune                    0
quartier                   0
latitude                   0
longitude                  0
personnel_capacite_jour    0
nombre_guichets            0
heures_ouverture           0
horaire_nuit               0
equipement_numerique       0
date_ouverture             0
statut_centre              0
dtype: int64

In [72]:
#Vérifier les doublons
print("Doublons :", df_centres.duplicated(['nom_centre', 'commune', 'prefecture', 'region']).sum())

Doublons : 24

In [74]:

# S'il y a des doublons, lesquels ?
doublons_centres = df_centres[df_centres.duplicated('nom_centre', keep=False)]
if not doublons_centres.empty:
    print("Centres avec le même nom :")
    print(doublons_centres[['nom_centre' ,'commune', 'prefecture', 'region']].sort_values('nom_centre'))

Centres avec le même nom :
                  nom_centre       commune      prefecture    region
23              Centre Aného         Aného            Lacs  Maritime
22              Centre Aného         Aného            Lacs  Maritime
18              Centre Aného         Aného            Lacs  Maritime
44              Centre Aného         Aného            Lacs  Maritime
33         Centre Djarkpanga    Djarkpanga              Mo  Centrale
20         Centre Djarkpanga    Djarkpanga              Mo  Centrale
45         Centre Djarkpanga    Djarkpanga              Mo  Centrale
37       Centre Guérin-Kouka  Guérin-Kouka         Dankpen      Kara
48       Centre Guérin-Kouka  Guérin-Kouka         Dankpen      Kara
40               Centre Kévé          Kévé             Ave  Maritime
1                Centre Kévé          Kévé             Ave  Maritime
47               Centre Kévé          Kévé             Ave  Maritime
38               Centre Lomé          Lomé           Golfe  Maritime
15               Centre Lomé          Lomé           Golfe  Maritime
51           Centre Naki-Est      Naki-Est  Kpendjal-Ouest   Savanes
26           Centre Naki-Est      Naki-Est  Kpendjal-Ouest   Savanes
10            Centre Pagouda       Pagouda           Binah      Kara
3             Centre Pagouda       Pagouda           Binah      Kara
41     Centre Principal Kara          Kara           Kozah      Kara
9      Centre Principal Kara          Kara           Kozah      Kara
7   Centre Principal Kpalimé       Kpalimé           Kloto  Plateaux
34  Centre Principal Kpalimé       Kpalimé           Kloto  Plateaux
25   Centre Principal Sokodé        Sokodé       Tchaoudjo  Centrale
28   Centre Principal Sokodé        Sokodé       Tchaoudjo  Centrale
21   Centre Principal Sokodé        Sokodé       Tchaoudjo  Centrale
53   Centre Principal Sokodé        Sokodé       Tchaoudjo  Centrale
35   Centre Principal Tsévié        Tsévié             Zio  Maritime
5    Centre Principal Tsévié        Tsévié             Zio  Maritime
11          Centre Sotouboua     Sotouboua       Sotouboua  Centrale
50          Centre Sotouboua     Sotouboua       Sotouboua  Centrale
16         Centre Tandjouaré    Tandjouaré      Tandjouaré   Savanes
29         Centre Tandjouaré    Tandjouaré      Tandjouaré   Savanes
52            Centre Tchamba       Tchamba         Tchamba  Centrale
24            Centre Tchamba       Tchamba         Tchamba  Centrale
12            Centre Tchamba       Tchamba         Tchamba  Centrale
8             Centre Tchamba       Tchamba         Tchamba  Centrale
4             Centre Tchamba       Tchamba         Tchamba  Centrale
30              Centre Vogan         Vogan              Vo  Maritime
19              Centre Vogan         Vogan              Vo  Maritime

In [75]:
# Vérifier la granularité des données
df_centres.nunique()

centre_id                  55
nom_centre                 31
type_centre                 2
region                      5
prefecture                 28
commune                    28
quartier                   10
latitude                   55
longitude                  55
personnel_capacite_jour    44
nombre_guichets            11
heures_ouverture            2
horaire_nuit                2
equipement_numerique        3
date_ouverture             53
statut_centre               1
dtype: int64

In [ ]:
# Décrire les valeurs numériques
df_centres.describe()

        latitude  longitude  personnel_capacite_jour  nombre_guichets
count  55.000000  55.000000                55.000000        55.000000
mean    8.345384   1.061744               126.418182         5.327273
std     1.492890   0.336674                95.720599         3.564509
min     6.214500   0.098700                32.000000         2.000000
25%     6.587650   0.844950                63.000000         2.000000
50%     8.685100   1.131300                88.000000         5.000000
75%     9.422350   1.300600               116.500000         6.000000
max    11.002200   1.680600               358.000000        14.000000

In [ ]:
# Décrire les variables catégorielles
df_centres.describe(include=['object'])

,centre_id,nom_centre,type_centre,region,prefecture,commune,quartier,heures_ouverture,horaire_nuit,equipement_numerique,date_ouverture,statut_centre
count,55,55,55,55,55,55,55,55,55,55,55,55
unique,55,31,2,5,28,28,10,2,2,3,53,1
top,CT001,Centre Tchamba,Secondaire,Centrale,Tchamba,Tchamba,Résidentiel,08:00-16:00,Non,Partiel,2020-08-10,Actif
freq,1,5,43,16,5,5,8,43,52,31,2,55

In [ ]:
cat_cols = df_centres.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_centres[col].unique())

centre_id => ['CT001' 'CT002' 'CT003' 'CT004' 'CT005' 'CT006' 'CT007' 'CT008' 'CT009'
 'CT010' 'CT011' 'CT012' 'CT013' 'CT014' 'CT015' 'CT016' 'CT017' 'CT018'
 'CT019' 'CT020' 'CT021' 'CT022' 'CT023' 'CT024' 'CT025' 'CT026' 'CT027'
 'CT028' 'CT029' 'CT030' 'CT031' 'CT032' 'CT033' 'CT034' 'CT035' 'CT036'
 'CT037' 'CT038' 'CT039' 'CT040' 'CT041' 'CT042' 'CT043' 'CT044' 'CT045'
 'CT046' 'CT047' 'CT048' 'CT049' 'CT050' 'CT051' 'CT052' 'CT053' 'CT054'
 'CT055']
nom_centre => ['Centre Principal Dapaong' 'Centre Kévé' 'Centre Gando' 'Centre Pagouda'
 'Centre Tchamba' 'Centre Principal Tsévié' 'Centre Bassar'
 'Centre Principal Kpalimé' 'Centre Principal Kara' 'Centre Sotouboua'
 'Centre Tohoun' 'Centre Danyi-Apéyémé' 'Centre Lomé' 'Centre Tandjouaré'
 'Centre Bafilo' 'Centre Aného' 'Centre Vogan' 'Centre Djarkpanga'
 'Centre Principal Sokodé' 'Centre Naki-Est' 'Centre Blitta-Gare'
 'Centre Dapaong' 'Centre Tabligbo' 'Centre Principal Lomé'
 'Centre Guérin-Kouka' 'Centre Sokodé' 'Centre Niamtougou' 'Centre Amlamé'
 'Centre Kanté' 'Centre Mandouri' 'Centre Notsé']
type_centre => ['Principal' 'Secondaire']
region => ['Savanes' 'Maritime' 'Kara' 'Centrale' 'Plateaux']
prefecture => ['Tône' 'Ave' 'Oti-Sud' 'Binah' 'Tchamba' 'Zio' 'Bassar' 'Kloto' 'Kozah'
 'Sotouboua' 'Moyen-Mono' 'Danyi' 'Golfe' 'Tandjouaré' 'Assoli' 'Lacs'
 'Vo' 'Mo' 'Tchaoudjo' 'Kpendjal-Ouest' 'Blitta' 'Yoto' 'Dankpen'
 'Doufelgou' 'Amou' 'Kéran' 'Kpendjal' 'Haho']
commune => ['Dapaong' 'Kévé' 'Gando' 'Pagouda' 'Tchamba' 'Tsévié' 'Bassar' 'Kpalimé'
 'Kara' 'Sotouboua' 'Tohoun' 'Danyi-Apéyémé' 'Lomé' 'Tandjouaré' 'Bafilo'
 'Aného' 'Vogan' 'Djarkpanga' 'Sokodé' 'Naki-Est' 'Blitta-Gare' 'Tabligbo'
 'Guérin-Kouka' 'Niamtougou' 'Amlamé' 'Kanté' 'Mandouri' 'Notsé']
quartier => ['Administratif' 'Zone industrielle' 'Gare routière' 'Carrefour' 'Marché'
 'Poste' 'Préfecture' 'Résidentiel' 'Centre ville' 'Hôpital']
heures_ouverture => ['07:30-17:30' '08:00-16:00']
horaire_nuit => ['Non' 'Oui']
equipement_numerique => ['Complet' 'Limite' 'Partiel']
date_ouverture => ['2016-02-14' '2020-09-14' '2015-06-02' '2019-12-03' '2022-10-20'
 '2022-08-28' '2020-02-11' '2017-07-12' '2022-05-11' '2023-11-24'
 '2017-11-30' '2022-07-15' '2016-10-19' '2015-01-10' '2017-06-14'
 '2023-07-08' '2023-06-10' '2015-07-25' '2023-07-09' '2019-09-03'
 '2019-06-28' '2015-04-04' '2018-12-25' '2020-08-10' '2016-03-06'
 '2020-10-16' '2019-12-15' '2021-07-05' '2023-07-15' '2016-02-23'
 '2017-07-27' '2016-03-21' '2022-10-26' '2022-05-01' '2021-09-27'
 '2016-11-14' '2023-11-20' '2023-04-24' '2018-12-06' '2020-03-04'
 '2022-08-24' '2023-12-21' '2020-12-26' '2017-01-21' '2015-05-22'
 '2023-04-10' '2015-10-26' '2018-09-28' '2022-05-29' '2016-03-12'
 '2023-12-05' '2020-12-15' '2020-07-25']
statut_centre => ['Actif']

CENTRES :

* Manquants : 0

* Doublons : 24

* Types incohérents : date_ouverture=object

* Observations :

#**donnees_socioecomiques.csv**

In [77]:
print("Dimensions :", df_socio.shape)
print("Types des colonnes :")
df_socio.dtypes

Dimensions : (115, 11)
Types des colonnes :

region                   object
prefecture               object
commune                  object
population                int64
superficie_km2            int64
densite                   int64
taux_urbanisation       float64
taux_alphabétisation    float64
age_median                int64
nombre_menages            int64
revenu_moyen_fcfa         int64
dtype: object

In [79]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_socio.isnull().sum()

Valeurs manquantes :

region                  0
prefecture              0
commune                 0
population              0
superficie_km2          0
densite                 0
taux_urbanisation       0
taux_alphabétisation    0
age_median              0
nombre_menages          0
revenu_moyen_fcfa       0
dtype: int64

In [81]:
#Vérifier les doublons
print("Doublons :", df_socio.duplicated(['commune', 'prefecture', 'region']).sum())

Doublons : 0

In [83]:
# Vérifier la granularité des données
df_socio.nunique()

region                    5
prefecture               35
commune                 115
population              115
superficie_km2          100
densite                 105
taux_urbanisation        46
taux_alphabétisation     33
age_median                8
nombre_menages          113
revenu_moyen_fcfa       115
dtype: int64

In [84]:
# Décrire les valeurs numériques
df_socio.describe()

,population,superficie_km2,densite,taux_urbanisation,taux_alphabétisation,age_median,nombre_menages,revenu_moyen_fcfa
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000
mean,50971.286957,266.008696,290.573913,0.325565,0.654696,21.539130,10259.460870,133782.713043
std,49819.726192,136.525012,311.039487,0.199654,0.091050,2.074435,9588.455479,55010.105232
min,8843.000000,50.000000,19.000000,0.100000,0.470000,18.000000,1616.000000,69126.000000
25%,26074.000000,149.000000,80.500000,0.190000,0.590000,20.000000,5362.500000,98436.500000
50%,42202.000000,267.000000,140.000000,0.290000,0.640000,22.000000,8417.000000,121278.000000
75%,54761.500000,384.500000,404.000000,0.365000,0.730000,23.000000,11394.500000,146409.000000
max,424644.000000,499.000000,1759.000000,0.950000,0.860000,25.000000,71055.000000,372987.000000

In [85]:
# Décrire les variables catégorielles
df_socio.describe(include=['object'])

          region prefecture commune
count        115        115     115
unique         5         35     115
top     Maritime         Vo   Vogan
freq          37          7       1

In [86]:
cat_cols = df_socio.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_socio[col].unique())

region => ['Maritime' 'Plateaux' 'Centrale' 'Kara' 'Savanes']
prefecture => ['Vo' 'Golfe' 'Lacs' 'Yoto' 'Bas-Mono' 'Zio' 'Ave' 'Ogou' 'Kloto' 'Amou'
 'Wawa' 'Haho' 'Est-Mono' 'Moyen-Mono' 'Danyi' 'Agou' 'Tchaoudjo'
 'Sotouboua' 'Tchamba' 'Blitta' 'Mo' 'Kozah' 'Binah' 'Doufelgou' 'Kéran'
 'Bassar' 'Dankpen' 'Assoli' 'Tône' 'Oti' 'Oti-Sud' 'Tandjouaré'
 'Kpendjal' 'Kpendjal-Ouest' 'Cinkassé']
commune => ['Vogan' 'Hahotoé' 'Anyronkopé' 'Momé' 'Dagbati' 'Akoumapé' 'Sevagan'
 'Lomé' 'Aflao-Gakli' 'Bè-Est' 'Bè-Ouest' 'Amoutivé' 'Baguida'
 'Togblékopé' 'Aného' 'Glidji' 'Agouégan' 'Aklakou' 'Ganavé' 'Tabligbo'
 'Ahépé' 'Kouvé' 'Tokpli' 'Gboto' 'Afagnan' 'Agazou' 'Attitogon' 'Hompou'
 'Tsévié' 'Agbelouvé' 'Gblainvié' 'Gapé' 'Kovié' 'Bolou' 'Kévé' 'Assahoun'
 'Badja' 'Atakpamé' 'Gléï' 'Datcha' 'Akparé' 'Kpalimé' 'Agou' 'Kuma'
 'Lavie' 'Amlamé' 'Hihéatro' 'Témédja' 'Badou' "Gbadi-N'Kugna" 'Kessibo'
 'Notsé' 'Wahala' 'Asrama' 'Kpédomé' 'Elavagnon' 'Moretan' 'Kamina'
 'Tohoun' 'Tado' 'Saligbé' 'Danyi-Apéyémé' 'Danyi-Atigba' 'Agou-Gadzépé'
 'Agou-Nyogbo' 'Sokodé' 'Lama-Tessi' 'Aleheride' 'Kpangalam' 'Sotouboua'
 'Adjengré' 'Tchébébé' 'Aouda' 'Tchamba' 'Kaboli' 'Alibi' 'Blitta-Gare'
 'Blitta-Village' 'Pagala' 'Tintilou' 'Djarkpanga' 'Kara' 'Lama-Kara'
 'Landa' 'Soumdina' 'Pya' 'Pagouda' 'Kétao' 'Pessoa' 'Niamtougou' 'Défalé'
 'Pouda' 'Kanté' 'Ataloté' 'Bassar' 'Kabou' 'Bangéli' 'Guérin-Kouka'
 'Natchamba' 'Bafilo' 'Bouladè' 'Dapaong' 'Korbongou' 'Nioukpourma' 'Pana'
 'Mango' 'Gando' 'Barkoissi' 'Gerin-Kouka' 'Tandjouaré' 'Bombouaka'
 'Mandouri' 'Naki-Est' 'Cinkassé' 'Gnoaga']

Donnees_socioeconomique :

* Manquants : 0

* Doublons : 0

* Types incohérents : Non

* Observations :

# **developpement.csv**

In [87]:
print("Dimensions :", df_dev.shape)
print("Types des colonnes :")
df_dev.dtypes

Dimensions : (33, 15)
Types des colonnes :

region                    object
prefecture                object
commune                   object
pib_par_habitant_fcfa      int64
taux_chomage             float64
taux_pauvrete            float64
acces_electricite        float64
acces_eau_potable        float64
acces_internet           float64
indice_developpement     float64
score_education          float64
score_sante              float64
nombre_ecoles              int64
nombre_hopitaux            int64
nombre_banques             int64
dtype: object

In [89]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_dev.isna().sum()

Valeurs manquantes :

region                   0
prefecture               0
commune                  0
pib_par_habitant_fcfa    0
taux_chomage             0
taux_pauvrete            0
acces_electricite        0
acces_eau_potable        0
acces_internet           0
indice_developpement     0
score_education          0
score_sante              0
nombre_ecoles            0
nombre_hopitaux          0
nombre_banques           0
dtype: int64

In [92]:
#Vérifier les doublons
print("Doublons :", df_dev.duplicated(['commune', 'prefecture', 'region']).sum())

Doublons : 0

In [93]:
# Vérifier la granularité des données
df_dev.nunique()

region                    5
prefecture               22
commune                  33
pib_par_habitant_fcfa    21
taux_chomage             18
taux_pauvrete            22
acces_electricite        19
acces_eau_potable        20
acces_internet           23
indice_developpement     20
score_education          21
score_sante              19
nombre_ecoles            28
nombre_hopitaux          12
nombre_banques           19
dtype: int64

In [94]:
# Décrire les valeurs numériques
df_dev.describe()

,pib_par_habitant_fcfa,taux_chomage,taux_pauvrete,acces_electricite,acces_eau_potable,acces_internet,indice_developpement,score_education,score_sante,nombre_ecoles,nombre_hopitaux,nombre_banques
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,548787.878788,0.204242,0.400909,0.798182,0.770909,0.356667,0.573636,0.627576,0.601212,90.424242,5.272727,14.424242
std,108707.105787,0.046639,0.088895,0.075393,0.074932,0.121106,0.069634,0.071939,0.066884,49.894908,4.185337,9.775704
min,410000.000000,0.110000,0.240000,0.660000,0.630000,0.210000,0.460000,0.510000,0.490000,44.000000,2.000000,5.000000
25%,480000.000000,0.170000,0.340000,0.740000,0.710000,0.260000,0.520000,0.570000,0.550000,60.000000,3.000000,8.000000
50%,520000.000000,0.200000,0.390000,0.790000,0.760000,0.330000,0.560000,0.610000,0.590000,74.000000,4.000000,12.000000
75%,590000.000000,0.240000,0.470000,0.850000,0.820000,0.420000,0.620000,0.670000,0.640000,98.000000,6.000000,16.000000
max,860000.000000,0.300000,0.590000,0.960000,0.930000,0.670000,0.740000,0.790000,0.760000,250.000000,19.000000,48.000000

In [95]:
# Décrire les variables catégorielles
df_dev.describe(include=['object'])

          region prefecture commune
count         33         33      33
unique         5         22      33
top     Maritime         Vo    Lomé
freq          10          2       1

In [96]:
cat_cols = df_dev.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_dev[col].unique())

region => ['Maritime' 'Plateaux' 'Centrale' 'Kara' 'Savanes']
prefecture => ['Vo' 'Golfe' 'Lacs' 'Yoto' 'Bas-Mono' 'Ogou' 'Kloto' 'Amou' 'Wawa' 'Haho'
 'Agou' 'Sotouboua' 'Blitta' 'Tchaoudjo' 'Kozah' 'Kéran' 'Assoli'
 'Dankpen' 'Oti' 'Tône' 'Kpendjal' 'Tandjoaré']
commune => ['Lomé' 'Adakpamé' 'Bè' 'Agoè' 'Aného' 'Glidji' 'Tabligbo' 'Tsevié'
 'Afagnan' 'Dogbo' 'Atakpamé' 'Datcha' 'Kpalimé' 'Kouma' 'Amlamé' 'Badou'
 'Notsé' 'Agou-Gare' 'Sotouboua' 'Tchamba' 'Blitta' 'Bafilo' 'Sokodé'
 'Kara' 'Pya' 'Kanté' 'Bassar' 'Guérin-Kouka' 'Dapaong' 'Mango' 'Cinkassé'
 'Mandouri' 'Gando']

Developpement :

* Manquants : 0

* Doublons : 0

* Types incohérents :

* Observations :

# **reseau_routier_togo_ext.csv**

In [97]:
print("Dimensions :", df_routes.shape)
print("Types des colonnes :")
df_routes.dtypes

Dimensions : (40, 14)
Types des colonnes :

route_id                   object
type_route                 object
nom_route                  object
region_origine             object
region_destination         object
prefecture_origine         object
prefecture_destination     object
longueur_km                 int64
etat_route                 object
temps_parcours_heures     float64
points_controle             int64
bus_par_jour                int64
camions_par_jour            int64
passagers_par_jour          int64
dtype: object

In [98]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_routes.isnull().sum()

Valeurs manquantes :

route_id                  0
type_route                0
nom_route                 0
region_origine            0
region_destination        0
prefecture_origine        0
prefecture_destination    0
longueur_km               0
etat_route                0
temps_parcours_heures     0
points_controle           0
bus_par_jour              0
camions_par_jour          0
passagers_par_jour        0
dtype: int64

In [105]:
#Vérifier les doublons
print("Doublons :", df_routes.duplicated(['route_id','type_route',"nom_route", "prefecture_origine", "prefecture_destination"]).sum())

Doublons : 0

In [106]:
# Vérifier la granularité des données
df_routes.nunique()

route_id                  40
type_route                 3
nom_route                 40
region_origine             5
region_destination         5
prefecture_origine        18
prefecture_destination    20
longueur_km               33
etat_route                 3
temps_parcours_heures     30
points_controle            7
bus_par_jour              25
camions_par_jour          27
passagers_par_jour        26
dtype: int64

In [107]:
# Décrire les valeurs numériques
df_routes.describe()

,longueur_km,temps_parcours_heures,points_controle,bus_par_jour,camions_par_jour,passagers_par_jour
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,99.725000,2.292500,1.500000,75.275000,19.625000,1157.000000
std,86.300307,1.902547,1.467599,33.226486,13.558397,459.822708
min,18.000000,0.400000,0.000000,35.000000,3.000000,550.000000
25%,45.000000,1.075000,0.000000,55.000000,9.000000,850.000000
50%,70.000000,1.650000,1.000000,66.500000,15.500000,1025.000000
75%,121.250000,2.800000,2.000000,90.000000,25.000000,1412.500000
max,420.000000,8.500000,6.000000,180.000000,55.000000,2500.000000

In [109]:
# Décrire les variables catégorielles
df_routes.describe(include=['object'])

,route_id,type_route,nom_route,region_origine,region_destination,prefecture_origine,prefecture_destination,etat_route
count,40,40,40,40,40,40,40,40
unique,40,3,40,5,5,18,20,3
top,R001,Régionale,RN1,Plateaux,Savanes,Vo,Oti,Moyen
freq,1,15,1,12,11,5,6,20

In [110]:
cat_cols = df_routes.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_routes[col].unique())

route_id => ['R001' 'R002' 'R003' 'R004' 'R005' 'R006' 'R007' 'R008' 'R009' 'R010'
 'R011' 'R012' 'R013' 'R014' 'R015' 'R016' 'R017' 'R018' 'R019' 'R020'
 'R021' 'R022' 'R023' 'R024' 'R025' 'R026' 'R027' 'R028' 'R029' 'R030'
 'R031' 'R032' 'R033' 'R034' 'R035' 'R036' 'R037' 'R038' 'R039' 'R040']
type_route => ['Nationale' 'Régionale' 'Locale']
nom_route => ['RN1' 'RN2' 'RN3' 'RN4' 'RN5' 'RN6' 'RN7' 'RN8' 'RN9' 'RN10' 'RR1' 'RR2'
 'RR3' 'RR4' 'RR5' 'RR6' 'RR7' 'RR8' 'RR9' 'RR10' 'RR11' 'RR12' 'RR13'
 'RR14' 'RR15' 'RL1' 'RL2' 'RL3' 'RL4' 'RL5' 'RL6' 'RL7' 'RL8' 'RL9'
 'RL10' 'RL11' 'RL12' 'RL13' 'RL14' 'RL15']
region_origine => ['Maritime' 'Plateaux' 'Centrale' 'Kara' 'Savanes']
region_destination => ['Plateaux' 'Centrale' 'Kara' 'Savanes' 'Maritime']
prefecture_origine => ['Vo' 'Ogou' 'Sotouboua' 'Kozah' 'Golfe' 'Tchaoudjo' 'Kloto' 'Lacs' 'Oti'
 'Tône' 'Haho' 'Blitta' 'Dankpen' 'Yoto' 'Wawa' 'Agou' 'Kéran' 'Amou']
prefecture_destination => ['Ogou' 'Sotouboua' 'Kozah' 'Oti' 'Tône' 'Kéran' 'Lacs' 'Yoto' 'Kloto'
 'Amou' 'Assoli' 'Kpendjal' 'Tandjoaré' 'Vo' 'Bas-Mono' 'Agou' 'Haho'
 'Tchaoudjo' 'Golfe' 'Blitta']
etat_route => ['Bon' 'Moyen' 'Mediocre']

Reseau_routier :

* Manquants : 0

* Doublons : 0

* Types incohérents :

* Observations :

# **demandes_service_public.csv**

In [111]:
print("Dimensions :", df_demandes.shape)
print("Types des colonnes :")
df_demandes.dtypes

Dimensions : (600, 16)
Types des colonnes :

demande_id                 object
region                     object
prefecture                 object
commune                    object
quartier                   object
type_document              object
categorie_document         object
nombre_demandes             int64
delai_traitement_jours      int64
taux_rejet                float64
date_demande               object
motif_demande              object
statut_demande             object
canal_demande              object
age_demandeur               int64
sexe_demandeur             object
dtype: object

In [114]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_demandes.isna().sum()

Valeurs manquantes :

demande_id                0
region                    0
prefecture                0
commune                   0
quartier                  0
type_document             0
categorie_document        0
nombre_demandes           0
delai_traitement_jours    0
taux_rejet                0
date_demande              0
motif_demande             0
statut_demande            0
canal_demande             0
age_demandeur             0
sexe_demandeur            0
dtype: int64

In [116]:
#Vérifier les doublons
print("Doublons :", df_demandes.duplicated('demande_id').sum())

Doublons : 0

In [117]:
# Vérifier la granularité des données
df_demandes.nunique()

demande_id                600
region                      5
prefecture                 13
commune                    16
quartier                   11
type_document               6
categorie_document          4
nombre_demandes           185
delai_traitement_jours     45
taux_rejet                 16
date_demande              300
motif_demande              13
statut_demande              3
canal_demande               2
age_demandeur              73
sexe_demandeur              2
dtype: int64

In [119]:
# Décrire les valeurs numériques
df_demandes.describe()

       nombre_demandes  delai_traitement_jours  taux_rejet  age_demandeur
count       600.000000              600.000000  600.000000     600.000000
mean        108.173333               22.716667    0.073617      53.338333
std          56.186607               13.015070    0.043107      20.873509
min          10.000000                1.000000    0.000000      18.000000
25%          59.000000               12.000000    0.040000      36.000000
50%         110.000000               22.000000    0.070000      53.000000
75%         158.000000               34.000000    0.110000      70.000000
max         200.000000               45.000000    0.150000      90.000000

In [120]:
# Décrire les variables catégorielles
df_demandes.describe(include=['object'])

,demande_id,region,prefecture,commune,quartier,type_document,categorie_document,date_demande,motif_demande,statut_demande,canal_demande,sexe_demandeur
count,600,600,600,600,600,600,600,600,600,600,600,600
unique,600,5,13,16,11,6,4,300,13,3,2,2
top,D001,Kara,Kozah,Kara,Amoutivé,Livre de famille,Civil,2023-09-30,Perte,Traitee,En ligne,M
freq,1,130,69,69,71,113,221,6,165,211,305,301

In [121]:
cat_cols = df_demandes.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_demandes[col].unique())

demande_id => ['D001' 'D002' 'D003' 'D004' 'D005' 'D006' 'D007' 'D008' 'D009' 'D010'
 'D011' 'D012' 'D013' 'D014' 'D015' 'D016' 'D017' 'D018' 'D019' 'D020'
 'D021' 'D022' 'D023' 'D024' 'D025' 'D026' 'D027' 'D028' 'D029' 'D030'
 'D031' 'D032' 'D033' 'D034' 'D035' 'D036' 'D037' 'D038' 'D039' 'D040'
 'D041' 'D042' 'D043' 'D044' 'D045' 'D046' 'D047' 'D048' 'D049' 'D050'
 'D051' 'D052' 'D053' 'D054' 'D055' 'D056' 'D057' 'D058' 'D059' 'D060'
 'D061' 'D062' 'D063' 'D064' 'D065' 'D066' 'D067' 'D068' 'D069' 'D070'
 'D071' 'D072' 'D073' 'D074' 'D075' 'D076' 'D077' 'D078' 'D079' 'D080'
 'D081' 'D082' 'D083' 'D084' 'D085' 'D086' 'D087' 'D088' 'D089' 'D090'
 'D091' 'D092' 'D093' 'D094' 'D095' 'D096' 'D097' 'D098' 'D099' 'D100'
 'D101' 'D102' 'D103' 'D104' 'D105' 'D106' 'D107' 'D108' 'D109' 'D110'
 'D111' 'D112' 'D113' 'D114' 'D115' 'D116' 'D117' 'D118' 'D119' 'D120'
 'D121' 'D122' 'D123' 'D124' 'D125' 'D126' 'D127' 'D128' 'D129' 'D130'
 'D131' 'D132' 'D133' 'D134' 'D135' 'D136' 'D137' 'D138' 'D139' 'D140'
 'D141' 'D142' 'D143' 'D144' 'D145' 'D146' 'D147' 'D148' 'D149' 'D150'
 'D151' 'D152' 'D153' 'D154' 'D155' 'D156' 'D157' 'D158' 'D159' 'D160'
 'D161' 'D162' 'D163' 'D164' 'D165' 'D166' 'D167' 'D168' 'D169' 'D170'
 'D171' 'D172' 'D173' 'D174' 'D175' 'D176' 'D177' 'D178' 'D179' 'D180'
 'D181' 'D182' 'D183' 'D184' 'D185' 'D186' 'D187' 'D188' 'D189' 'D190'
 'D191' 'D192' 'D193' 'D194' 'D195' 'D196' 'D197' 'D198' 'D199' 'D200'
 'D201' 'D202' 'D203' 'D204' 'D205' 'D206' 'D207' 'D208' 'D209' 'D210'
 'D211' 'D212' 'D213' 'D214' 'D215' 'D216' 'D217' 'D218' 'D219' 'D220'
 'D221' 'D222' 'D223' 'D224' 'D225' 'D226' 'D227' 'D228' 'D229' 'D230'
 'D231' 'D232' 'D233' 'D234' 'D235' 'D236' 'D237' 'D238' 'D239' 'D240'
 'D241' 'D242' 'D243' 'D244' 'D245' 'D246' 'D247' 'D248' 'D249' 'D250'
 'D251' 'D252' 'D253' 'D254' 'D255' 'D256' 'D257' 'D258' 'D259' 'D260'
 'D261' 'D262' 'D263' 'D264' 'D265' 'D266' 'D267' 'D268' 'D269' 'D270'
 'D271' 'D272' 'D273' 'D274' 'D275' 'D276' 'D277' 'D278' 'D279' 'D280'
 'D281' 'D282' 'D283' 'D284' 'D285' 'D286' 'D287' 'D288' 'D289' 'D290'
 'D291' 'D292' 'D293' 'D294' 'D295' 'D296' 'D297' 'D298' 'D299' 'D300'
 'D301' 'D302' 'D303' 'D304' 'D305' 'D306' 'D307' 'D308' 'D309' 'D310'
 'D311' 'D312' 'D313' 'D314' 'D315' 'D316' 'D317' 'D318' 'D319' 'D320'
 'D321' 'D322' 'D323' 'D324' 'D325' 'D326' 'D327' 'D328' 'D329' 'D330'
 'D331' 'D332' 'D333' 'D334' 'D335' 'D336' 'D337' 'D338' 'D339' 'D340'
 'D341' 'D342' 'D343' 'D344' 'D345' 'D346' 'D347' 'D348' 'D349' 'D350'
 'D351' 'D352' 'D353' 'D354' 'D355' 'D356' 'D357' 'D358' 'D359' 'D360'
 'D361' 'D362' 'D363' 'D364' 'D365' 'D366' 'D367' 'D368' 'D369' 'D370'
 'D371' 'D372' 'D373' 'D374' 'D375' 'D376' 'D377' 'D378' 'D379' 'D380'
 'D381' 'D382' 'D383' 'D384' 'D385' 'D386' 'D387' 'D388' 'D389' 'D390'
 'D391' 'D392' 'D393' 'D394' 'D395' 'D396' 'D397' 'D398' 'D399' 'D400'
 'D401' 'D402' 'D403' 'D404' 'D405' 'D406' 'D407' 'D408' 'D409' 'D410'
 'D411' 'D412' 'D413' 'D414' 'D415' 'D416' 'D417' 'D418' 'D419' 'D420'
 'D421' 'D422' 'D423' 'D424' 'D425' 'D426' 'D427' 'D428' 'D429' 'D430'
 'D431' 'D432' 'D433' 'D434' 'D435' 'D436' 'D437' 'D438' 'D439' 'D440'
 'D441' 'D442' 'D443' 'D444' 'D445' 'D446' 'D447' 'D448' 'D449' 'D450'
 'D451' 'D452' 'D453' 'D454' 'D455' 'D456' 'D457' 'D458' 'D459' 'D460'
 'D461' 'D462' 'D463' 'D464' 'D465' 'D466' 'D467' 'D468' 'D469' 'D470'
 'D471' 'D472' 'D473' 'D474' 'D475' 'D476' 'D477' 'D478' 'D479' 'D480'
 'D481' 'D482' 'D483' 'D484' 'D485' 'D486' 'D487' 'D488' 'D489' 'D490'
 'D491' 'D492' 'D493' 'D494' 'D495' 'D496' 'D497' 'D498' 'D499' 'D500'
 'D501' 'D502' 'D503' 'D504' 'D505' 'D506' 'D507' 'D508' 'D509' 'D510'
 'D511' 'D512' 'D513' 'D514' 'D515' 'D516' 'D517' 'D518' 'D519' 'D520'
 'D521' 'D522' 'D523' 'D524' 'D525' 'D526' 'D527' 'D528' 'D529' 'D530'
 'D531' 'D532' 'D533' 'D534' 'D535' 'D536' 'D537' 'D538' 'D539' 'D540'
 'D541' 'D542' 'D543' 'D544' 'D545' 'D546' 'D547' 'D548' 'D549' 'D550'
 'D551' 'D552' 'D553' 'D554' 'D555' 'D556' 'D557' 'D558' 'D559' 'D560'
 'D561' 'D562' 'D563' 'D564' 'D565' 'D566' 'D567' 'D568' 'D569' 'D570'
 'D571' 'D572' 'D573' 'D574' 'D575' 'D576' 'D577' 'D578' 'D579' 'D580'
 'D581' 'D582' 'D583' 'D584' 'D585' 'D586' 'D587' 'D588' 'D589' 'D590'
 'D591' 'D592' 'D593' 'D594' 'D595' 'D596' 'D597' 'D598' 'D599' 'D600']
region => ['Centrale' 'Kara' 'Plateaux' 'Savanes' 'Maritime']
prefecture => ['Sotouboua' 'Binah' 'Ogou' 'Oti' 'Zio' 'Tône' 'Golfe' 'Tchaoudjo' 'Kozah'
 'Vo' 'Lacs' 'Haho' 'Kloto']
commune => ['Sotouboua' 'Pagouda' 'Atakpamé' 'Mango' 'Tsévié' 'Dapaong' 'Lomé'
 'Sokodé' 'Kara' 'Adidogomé' 'Vogan' 'Aného' 'Notsé' 'Kpalimé' 'Bè'
 'Tokoin']
quartier => ['Nyékonakpoé' 'Hôpital' 'Bè' 'Amoutivé' 'Adidogomé' 'Golfe' 'Tokoin'
 'Kodjoviakopé' 'Agoè' 'Kwé' 'Hedzranawoé']
type_document => ["Carte d'identité" 'Certificat de nationalité' 'Livre de famille'
 'Passeport' 'Casier judiciaire' 'Acte de naissance']
categorie_document => ['Identité' 'Civil' 'Voyage' 'Judiciaire']
date_demande => ['2023-09-30' '2023-12-22' '2023-08-13' '2023-06-08' '2023-02-02'
 '2023-04-02' '2023-10-05' '2023-06-21' '2023-02-08' '2023-11-09'
 '2023-10-30' '2023-05-18' '2023-06-25' '2023-04-30' '2023-12-25'
 '2023-11-13' '2023-02-21' '2023-04-29' '2023-11-10' '2023-09-12'
 '2023-07-15' '2023-03-08' '2023-04-28' '2023-04-07' '2023-05-15'
 '2023-10-03' '2023-09-05' '2023-04-17' '2023-09-04' '2023-07-04'
 '2023-03-20' '2023-10-23' '2023-06-04' '2023-10-21' '2023-05-12'
 '2023-10-27' '2023-07-11' '2023-03-12' '2023-02-26' '2023-04-20'
 '2023-12-30' '2023-02-19' '2023-08-20' '2023-09-19' '2023-10-20'
 '2023-03-11' '2023-03-04' '2023-01-30' '2023-03-28' '2023-08-01'
 '2023-06-18' '2023-06-22' '2023-04-26' '2023-12-10' '2023-05-20'
 '2023-05-16' '2023-07-21' '2023-11-19' '2023-07-29' '2023-11-27'
 '2023-03-26' '2023-01-19' '2023-07-27' '2023-11-11' '2023-03-29'
 '2023-06-29' '2023-03-02' '2023-09-26' '2023-06-17' '2023-08-10'
 '2023-12-11' '2023-10-13' '2023-11-26' '2023-07-20' '2023-11-14'
 '2023-01-01' '2023-05-21' '2023-09-20' '2023-05-30' '2023-10-10'
 '2023-10-28' '2023-11-20' '2023-04-09' '2023-10-04' '2023-08-27'
 '2023-02-07' '2023-10-15' '2023-07-19' '2023-03-24' '2023-11-07'
 '2023-02-03' '2023-11-22' '2023-10-31' '2023-08-15' '2023-06-01'
 '2023-07-06' '2023-08-29' '2023-06-03' '2023-03-03' '2023-08-07'
 '2023-07-14' '2023-11-18' '2023-09-01' '2023-02-25' '2023-10-07'
 '2023-07-07' '2023-08-24' '2023-03-01' '2023-05-08' '2023-03-05'
 '2023-12-13' '2023-03-18' '2023-08-03' '2023-09-28' '2023-01-24'
 '2023-02-01' '2023-07-31' '2023-01-10' '2023-01-05' '2023-05-02'
 '2023-07-18' '2023-01-25' '2023-06-07' '2023-04-01' '2023-05-29'
 '2023-11-06' '2023-02-16' '2023-12-31' '2023-06-14' '2023-09-24'
 '2023-01-03' '2023-08-17' '2023-12-29' '2023-09-09' '2023-05-22'
 '2023-06-19' '2023-10-22' '2023-10-12' '2023-12-21' '2023-04-14'
 '2023-05-07' '2023-07-01' '2023-09-22' '2023-01-04' '2023-09-11'
 '2023-02-22' '2023-04-05' '2023-05-04' '2023-08-25' '2023-08-19'
 '2023-10-29' '2023-06-11' '2023-06-16' '2023-12-09' '2023-02-14'
 '2023-01-27' '2023-10-17' '2023-09-07' '2023-05-23' '2023-07-22'
 '2023-07-16' '2023-03-06' '2023-02-28' '2023-08-21' '2023-11-01'
 '2023-01-09' '2023-06-10' '2023-01-23' '2023-11-02' '2023-07-24'
 '2023-03-25' '2023-07-12' '2023-09-27' '2023-11-12' '2023-07-09'
 '2023-09-06' '2023-09-16' '2023-12-15' '2023-02-12' '2023-01-14'
 '2023-02-27' '2023-09-13' '2023-03-09' '2023-08-26' '2023-08-02'
 '2023-11-28' '2023-09-18' '2023-01-07' '2023-08-18' '2023-10-19'
 '2023-12-16' '2023-12-28' '2023-10-16' '2023-01-16' '2023-05-26'
 '2023-02-13' '2023-12-19' '2023-06-02' '2023-12-23' '2023-04-21'
 '2023-10-18' '2023-10-11' '2023-12-20' '2023-07-17' '2023-01-08'
 '2023-06-27' '2023-01-20' '2023-05-13' '2023-07-08' '2023-08-06'
 '2023-11-05' '2023-04-06' '2023-10-06' '2023-06-12' '2023-07-25'
 '2023-12-14' '2023-01-21' '2023-03-31' '2023-09-02' '2023-02-09'
 '2023-08-11' '2023-01-17' '2023-04-08' '2023-05-17' '2023-08-22'
 '2023-08-30' '2023-05-27' '2023-08-14' '2023-02-06' '2023-05-28'
 '2023-02-11' '2023-05-11' '2023-01-13' '2023-07-26' '2023-05-03'
 '2023-06-28' '2023-07-30' '2023-10-02' '2023-02-18' '2023-12-26'
 '2023-06-09' '2023-11-15' '2023-03-17' '2023-05-24' '2023-05-25'
 '2023-08-04' '2023-03-30' '2023-01-15' '2023-05-14' '2023-01-18'
 '2023-11-03' '2023-12-05' '2023-09-15' '2023-11-21' '2023-01-02'
 '2023-02-20' '2023-04-04' '2023-08-28' '2023-04-25' '2023-03-07'
 '2023-11-08' '2023-03-27' '2023-11-16' '2023-01-22' '2023-11-29'
 '2023-10-01' '2023-04-19' '2023-12-08' '2023-08-08' '2023-12-06'
 '2023-01-12' '2023-04-18' '2023-05-09' '2023-07-28' '2023-12-07'
 '2023-04-16' '2023-03-10' '2023-07-10' '2023-05-10' '2023-03-22'
 '2023-04-11' '2023-10-14' '2023-09-14' '2023-01-31' '2023-07-23'
 '2023-09-03' '2023-04-15' '2023-06-24' '2023-09-21' '2023-06-13'
 '2023-10-26' '2023-04-03' '2023-07-05' '2023-04-13' '2023-02-05'
 '2023-02-10' '2023-07-02' '2023-02-23' '2023-08-23' '2023-08-09']
motif_demande => ['Perte' 'Vol' 'Concours' 'Première demande' 'Détérioration' 'Emploi'
 'Nouveau mariage' 'Voyage' 'Erreur' 'Page pleine' 'Reconstitution'
 'Detérioré' 'Expiration']
statut_demande => ['Rejetée' 'Traitee' 'En cours']
canal_demande => ['En ligne' 'Guichet']
sexe_demandeur => ['M' 'F']

Demandes :

* Manquants : 0

* Doublons : 0

* Types incohérents : date_denande=object

* Observations :

# **documents_admistratifs.csv**

In [122]:
print("Dimensions :", df_docs.shape)
print("Types des colonnes :")
df_docs.dtypes

Dimensions : (64, 9)
Types des colonnes :

annee                  int64
mois                   int64
region                object
prefecture            object
commune               object
type_document         object
nombre_demandes        int64
delai_moyen_jours    float64
taux_rejet_moyen     float64
dtype: object

In [124]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_docs.isna().sum()

Valeurs manquantes :

annee                0
mois                 0
region               0
prefecture           0
commune              0
type_document        0
nombre_demandes      0
delai_moyen_jours    0
taux_rejet_moyen     0
dtype: int64

In [131]:
#Vérifier les doublons
print("Doublons :", df_docs.duplicated(['annee', 'mois', 'region', 'prefecture', 'commune','type_document']).sum())

Doublons : 0

In [132]:
# Vérifier la granularité des données
df_docs.nunique()

annee                 2
mois                  2
region                5
prefecture           13
commune              13
type_document         4
nombre_demandes      52
delai_moyen_jours    60
taux_rejet_moyen     12
dtype: int64

In [133]:
# Décrire les valeurs numériques
df_docs.describe()

,annee,mois,nombre_demandes,delai_moyen_jours,taux_rejet_moyen
count,64.000000,64.000000,64.000000,64.000000,64.000000
mean,2023.312500,1.625000,755.312500,19.168750,0.064062
std,0.467177,0.934353,606.119504,6.847219,0.028659
min,2023.000000,1.000000,160.000000,9.200000,0.020000
25%,2023.000000,1.000000,310.000000,14.075000,0.040000
50%,2023.000000,1.000000,575.000000,17.400000,0.060000
75%,2024.000000,3.000000,927.500000,22.475000,0.080000
max,2024.000000,3.000000,2700.000000,34.500000,0.130000

In [135]:
# Décrire les variables catégorielles
df_docs.describe(include=['object'])

          region prefecture commune     type_document
count         64         64      64                64
unique         5         13      13                 4
top     Maritime         Vo    Lomé  Carte d'identité
freq          16         12      12                16

In [136]:
cat_cols = df_docs.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_docs[col].unique())

region => ['Maritime' 'Plateaux' 'Centrale' 'Kara' 'Savanes']
prefecture => ['Vo' 'Lacs' 'Ogou' 'Sotouboua' 'Kozah' 'Oti' 'Tchaoudjo' 'Kéran' 'Tône'
 'Kloto' 'Blitta' 'Assoli' 'Kpendjal']
commune => ['Lomé' 'Aného' 'Atakpamé' 'Sotouboua' 'Kara' 'Dapaong' 'Sokodé' 'Kanté'
 'Cinkassé' 'Kpalimé' 'Blitta' 'Bassar' 'Mandouri']
type_document => ["Carte d'identité" 'Passeport' 'Acte de naissance' 'Livre de famille']

Documents:

* Manquants : 0

* Doublons : 0

* Types incohérents :

* Observations :

# **logs_activites.csv**

In [137]:
print("Dimensions :", df_logs.shape)
print("Types des colonnes :")
df_logs.dtypes

Dimensions : (450, 14)
Types des colonnes :

log_id                         object
centre_id                      object
date_operation                 object
type_operation                 object
type_document                  object
nombre_traite                   int64
delai_effectif                  int64
nombre_rejete                   int64
raison_rejet                   object
personnel_present               int64
temps_attente_moyen_minutes     int64
incident_technique             object
heure_debut                    object
heure_fin                      object
dtype: object

In [138]:
# Vérifier les valeurs manquantes
print("Valeurs manquantes :")
df_logs.isna().sum()

Valeurs manquantes :

log_id                           0
centre_id                        0
date_operation                   0
type_operation                   0
type_document                   80
nombre_traite                    0
delai_effectif                   0
nombre_rejete                    0
raison_rejet                   103
personnel_present                0
temps_attente_moyen_minutes      0
incident_technique               0
heure_debut                      0
heure_fin                        0
dtype: int64

In [139]:
#Vérifier les doublons
print("Doublons :", df_logs.duplicated().sum())

Doublons : 0

In [140]:
# Vérifier la granularité des données
df_logs.nunique()

log_id                         450
centre_id                       55
date_operation                 270
type_operation                   4
type_document                    6
nombre_traite                  162
delai_effectif                  42
nombre_rejete                   38
raison_rejet                     8
personnel_present               14
temps_attente_moyen_minutes    105
incident_technique               2
heure_debut                     12
heure_fin                       20
dtype: int64

In [141]:
# Décrire les valeurs numériques
df_logs.describe()

,nombre_traite,delai_effectif,nombre_rejete,personnel_present,temps_attente_moyen_minutes
count,450.000000,450.000000,450.000000,450.000000,450.000000
mean,85.553333,20.733333,6.464444,8.288889,52.024444
std,79.209502,14.390513,8.011119,4.016792,37.881739
min,0.000000,0.000000,0.000000,2.000000,0.000000
25%,30.250000,8.000000,1.000000,5.000000,18.250000
50%,66.000000,21.000000,4.000000,8.000000,48.500000
75%,100.000000,34.000000,8.000000,12.000000,86.000000
max,297.000000,45.000000,43.000000,15.000000,120.000000

In [142]:
# Décrire les variables catégorielles
df_logs.describe(include=['object'])

,log_id,centre_id,date_operation,type_operation,type_document,raison_rejet,incident_technique,heure_debut,heure_fin
count,450,450,450,450,370,347,450,450,450
unique,450,55,270,4,6,8,2,12,20
top,LOG001,CT026,2023-08-14,Traitement,Certificat de nationalité,Signature manquante,Non,09:00,17:00
freq,1,19,5,370,74,54,406,45,48

In [143]:
cat_cols = df_logs.select_dtypes(include=['object']).columns
for col in cat_cols:
  print (col, "=>", df_logs[col].unique())

log_id => ['LOG001' 'LOG002' 'LOG003' 'LOG004' 'LOG005' 'LOG006' 'LOG007' 'LOG008'
 'LOG009' 'LOG010' 'LOG011' 'LOG012' 'LOG013' 'LOG014' 'LOG015' 'LOG016'
 'LOG017' 'LOG018' 'LOG019' 'LOG020' 'LOG021' 'LOG022' 'LOG023' 'LOG024'
 'LOG025' 'LOG026' 'LOG027' 'LOG028' 'LOG029' 'LOG030' 'LOG031' 'LOG032'
 'LOG033' 'LOG034' 'LOG035' 'LOG036' 'LOG037' 'LOG038' 'LOG039' 'LOG040'
 'LOG041' 'LOG042' 'LOG043' 'LOG044' 'LOG045' 'LOG046' 'LOG047' 'LOG048'
 'LOG049' 'LOG050' 'LOG051' 'LOG052' 'LOG053' 'LOG054' 'LOG055' 'LOG056'
 'LOG057' 'LOG058' 'LOG059' 'LOG060' 'LOG061' 'LOG062' 'LOG063' 'LOG064'
 'LOG065' 'LOG066' 'LOG067' 'LOG068' 'LOG069' 'LOG070' 'LOG071' 'LOG072'
 'LOG073' 'LOG074' 'LOG075' 'LOG076' 'LOG077' 'LOG078' 'LOG079' 'LOG080'
 'LOG081' 'LOG082' 'LOG083' 'LOG084' 'LOG085' 'LOG086' 'LOG087' 'LOG088'
 'LOG089' 'LOG090' 'LOG091' 'LOG092' 'LOG093' 'LOG094' 'LOG095' 'LOG096'
 'LOG097' 'LOG098' 'LOG099' 'LOG100' 'LOG101' 'LOG102' 'LOG103' 'LOG104'
 'LOG105' 'LOG106' 'LOG107' 'LOG108' 'LOG109' 'LOG110' 'LOG111' 'LOG112'
 'LOG113' 'LOG114' 'LOG115' 'LOG116' 'LOG117' 'LOG118' 'LOG119' 'LOG120'
 'LOG121' 'LOG122' 'LOG123' 'LOG124' 'LOG125' 'LOG126' 'LOG127' 'LOG128'
 'LOG129' 'LOG130' 'LOG131' 'LOG132' 'LOG133' 'LOG134' 'LOG135' 'LOG136'
 'LOG137' 'LOG138' 'LOG139' 'LOG140' 'LOG141' 'LOG142' 'LOG143' 'LOG144'
 'LOG145' 'LOG146' 'LOG147' 'LOG148' 'LOG149' 'LOG150' 'LOG151' 'LOG152'
 'LOG153' 'LOG154' 'LOG155' 'LOG156' 'LOG157' 'LOG158' 'LOG159' 'LOG160'
 'LOG161' 'LOG162' 'LOG163' 'LOG164' 'LOG165' 'LOG166' 'LOG167' 'LOG168'
 'LOG169' 'LOG170' 'LOG171' 'LOG172' 'LOG173' 'LOG174' 'LOG175' 'LOG176'
 'LOG177' 'LOG178' 'LOG179' 'LOG180' 'LOG181' 'LOG182' 'LOG183' 'LOG184'
 'LOG185' 'LOG186' 'LOG187' 'LOG188' 'LOG189' 'LOG190' 'LOG191' 'LOG192'
 'LOG193' 'LOG194' 'LOG195' 'LOG196' 'LOG197' 'LOG198' 'LOG199' 'LOG200'
 'LOG201' 'LOG202' 'LOG203' 'LOG204' 'LOG205' 'LOG206' 'LOG207' 'LOG208'
 'LOG209' 'LOG210' 'LOG211' 'LOG212' 'LOG213' 'LOG214' 'LOG215' 'LOG216'
 'LOG217' 'LOG218' 'LOG219' 'LOG220' 'LOG221' 'LOG222' 'LOG223' 'LOG224'
 'LOG225' 'LOG226' 'LOG227' 'LOG228' 'LOG229' 'LOG230' 'LOG231' 'LOG232'
 'LOG233' 'LOG234' 'LOG235' 'LOG236' 'LOG237' 'LOG238' 'LOG239' 'LOG240'
 'LOG241' 'LOG242' 'LOG243' 'LOG244' 'LOG245' 'LOG246' 'LOG247' 'LOG248'
 'LOG249' 'LOG250' 'LOG251' 'LOG252' 'LOG253' 'LOG254' 'LOG255' 'LOG256'
 'LOG257' 'LOG258' 'LOG259' 'LOG260' 'LOG261' 'LOG262' 'LOG263' 'LOG264'
 'LOG265' 'LOG266' 'LOG267' 'LOG268' 'LOG269' 'LOG270' 'LOG271' 'LOG272'
 'LOG273' 'LOG274' 'LOG275' 'LOG276' 'LOG277' 'LOG278' 'LOG279' 'LOG280'
 'LOG281' 'LOG282' 'LOG283' 'LOG284' 'LOG285' 'LOG286' 'LOG287' 'LOG288'
 'LOG289' 'LOG290' 'LOG291' 'LOG292' 'LOG293' 'LOG294' 'LOG295' 'LOG296'
 'LOG297' 'LOG298' 'LOG299' 'LOG300' 'LOG301' 'LOG302' 'LOG303' 'LOG304'
 'LOG305' 'LOG306' 'LOG307' 'LOG308' 'LOG309' 'LOG310' 'LOG311' 'LOG312'
 'LOG313' 'LOG314' 'LOG315' 'LOG316' 'LOG317' 'LOG318' 'LOG319' 'LOG320'
 'LOG321' 'LOG322' 'LOG323' 'LOG324' 'LOG325' 'LOG326' 'LOG327' 'LOG328'
 'LOG329' 'LOG330' 'LOG331' 'LOG332' 'LOG333' 'LOG334' 'LOG335' 'LOG336'
 'LOG337' 'LOG338' 'LOG339' 'LOG340' 'LOG341' 'LOG342' 'LOG343' 'LOG344'
 'LOG345' 'LOG346' 'LOG347' 'LOG348' 'LOG349' 'LOG350' 'LOG351' 'LOG352'
 'LOG353' 'LOG354' 'LOG355' 'LOG356' 'LOG357' 'LOG358' 'LOG359' 'LOG360'
 'LOG361' 'LOG362' 'LOG363' 'LOG364' 'LOG365' 'LOG366' 'LOG367' 'LOG368'
 'LOG369' 'LOG370' 'LOG371' 'LOG372' 'LOG373' 'LOG374' 'LOG375' 'LOG376'
 'LOG377' 'LOG378' 'LOG379' 'LOG380' 'LOG381' 'LOG382' 'LOG383' 'LOG384'
 'LOG385' 'LOG386' 'LOG387' 'LOG388' 'LOG389' 'LOG390' 'LOG391' 'LOG392'
 'LOG393' 'LOG394' 'LOG395' 'LOG396' 'LOG397' 'LOG398' 'LOG399' 'LOG400'
 'LOG401' 'LOG402' 'LOG403' 'LOG404' 'LOG405' 'LOG406' 'LOG407' 'LOG408'
 'LOG409' 'LOG410' 'LOG411' 'LOG412' 'LOG413' 'LOG414' 'LOG415' 'LOG416'
 'LOG417' 'LOG418' 'LOG419' 'LOG420' 'LOG421' 'LOG422' 'LOG423' 'LOG424'
 'LOG425' 'LOG426' 'LOG427' 'LOG428' 'LOG429' 'LOG430' 'LOG431' 'LOG432'
 'LOG433' 'LOG434' 'LOG435' 'LOG436' 'LOG437' 'LOG438' 'LOG439' 'LOG440'
 'LOG441' 'LOG442' 'LOG443' 'LOG444' 'LOG445' 'LOG446' 'LOG447' 'LOG448'
 'LOG449' 'LOG450']
centre_id => ['CT015' 'CT026' 'CT049' 'CT047' 'CT008' 'CT052' 'CT027' 'CT029' 'CT011'
 'CT037' 'CT019' 'CT050' 'CT021' 'CT054' 'CT045' 'CT010' 'CT041' 'CT039'
 'CT032' 'CT033' 'CT030' 'CT034' 'CT051' 'CT020' 'CT022' 'CT018' 'CT043'
 'CT035' 'CT005' 'CT016' 'CT007' 'CT038' 'CT028' 'CT024' 'CT012' 'CT023'
 'CT055' 'CT003' 'CT048' 'CT025' 'CT040' 'CT036' 'CT004' 'CT042' 'CT046'
 'CT031' 'CT053' 'CT017' 'CT002' 'CT014' 'CT006' 'CT001' 'CT009' 'CT013'
 'CT044']
date_operation => ['2023-10-30' '2023-04-21' '2023-08-22' '2023-07-13' '2023-04-08'
 '2023-12-07' '2023-12-05' '2023-02-16' '2023-09-11' '2023-12-28'
 '2023-09-26' '2023-12-10' '2023-02-28' '2023-09-05' '2023-01-26'
 '2023-02-18' '2023-08-28' '2023-09-17' '2023-08-20' '2023-11-11'
 '2023-10-06' '2023-03-21' '2023-11-05' '2023-04-20' '2023-05-09'
 '2023-09-04' '2023-10-22' '2023-03-30' '2023-05-16' '2023-08-05'
 '2023-06-29' '2023-11-29' '2023-06-27' '2023-08-14' '2023-06-22'
 '2023-09-15' '2023-12-31' '2023-10-31' '2023-06-26' '2023-12-16'
 '2023-09-14' '2023-01-12' '2023-03-26' '2023-11-20' '2023-07-24'
 '2023-09-25' '2023-06-23' '2023-03-06' '2023-08-24' '2023-04-17'
 '2023-06-21' '2023-07-31' '2023-07-06' '2023-11-25' '2023-06-07'
 '2023-10-09' '2023-11-16' '2023-10-01' '2023-12-22' '2023-05-25'
 '2023-02-01' '2023-01-15' '2023-01-19' '2023-01-03' '2023-03-04'
 '2023-11-27' '2023-05-02' '2023-03-16' '2023-05-26' '2023-11-10'
 '2023-10-27' '2023-03-23' '2023-04-02' '2023-05-03' '2023-04-30'
 '2023-10-14' '2023-03-10' '2023-10-28' '2023-07-04' '2023-09-03'
 '2023-07-12' '2023-01-21' '2023-08-19' '2023-08-02' '2023-10-07'
 '2023-05-24' '2023-12-19' '2023-12-17' '2023-08-09' '2023-03-19'
 '2023-06-15' '2023-05-01' '2023-09-16' '2023-01-22' '2023-03-27'
 '2023-12-09' '2023-11-15' '2023-12-13' '2023-02-09' '2023-12-25'
 '2023-10-04' '2023-07-30' '2023-12-03' '2023-12-21' '2023-03-20'
 '2023-11-17' '2023-03-02' '2023-02-14' '2023-08-16' '2023-10-12'
 '2023-11-08' '2023-08-15' '2023-09-01' '2023-10-29' '2023-11-19'
 '2023-02-24' '2023-10-26' '2023-06-24' '2023-09-13' '2023-08-10'
 '2023-08-13' '2023-05-28' '2023-05-05' '2023-01-11' '2023-09-24'
 '2023-02-25' '2023-07-27' '2023-03-12' '2023-02-17' '2023-08-21'
 '2023-11-07' '2023-07-10' '2023-07-09' '2023-05-06' '2023-05-27'
 '2023-09-23' '2023-03-03' '2023-06-04' '2023-10-13' '2023-11-30'
 '2023-09-10' '2023-02-27' '2023-06-25' '2023-03-07' '2023-03-18'
 '2023-10-21' '2023-09-06' '2023-11-28' '2023-04-28' '2023-09-29'
 '2023-06-08' '2023-06-02' '2023-03-25' '2023-09-20' '2023-07-29'
 '2023-02-26' '2023-07-08' '2023-09-22' '2023-05-17' '2023-02-11'
 '2023-08-27' '2023-07-18' '2023-01-25' '2023-02-12' '2023-01-30'
 '2023-03-09' '2023-10-15' '2023-04-15' '2023-02-06' '2023-05-07'
 '2023-09-18' '2023-12-29' '2023-01-31' '2023-07-25' '2023-12-12'
 '2023-04-11' '2023-06-18' '2023-04-27' '2023-12-15' '2023-05-23'
 '2023-04-22' '2023-06-10' '2023-12-01' '2023-10-16' '2023-04-09'
 '2023-10-20' '2023-04-12' '2023-12-23' '2023-10-10' '2023-10-17'
 '2023-07-03' '2023-05-29' '2023-08-12' '2023-07-17' '2023-02-07'
 '2023-07-20' '2023-06-30' '2023-11-18' '2023-01-10' '2023-04-24'
 '2023-05-19' '2023-12-18' '2023-02-23' '2023-08-26' '2023-08-30'
 '2023-06-01' '2023-03-15' '2023-12-14' '2023-06-12' '2023-05-04'
 '2023-02-05' '2023-04-19' '2023-02-10' '2023-11-24' '2023-11-03'
 '2023-05-15' '2023-05-14' '2023-11-21' '2023-01-20' '2023-01-29'
 '2023-01-08' '2023-12-02' '2023-08-23' '2023-06-05' '2023-10-11'
 '2023-02-08' '2023-03-05' '2023-10-08' '2023-05-31' '2023-03-22'
 '2023-01-18' '2023-10-05' '2023-07-15' '2023-01-28' '2023-07-01'
 '2023-04-03' '2023-05-20' '2023-11-23' '2023-11-12' '2023-02-21'
 '2023-07-22' '2023-02-03' '2023-08-11' '2023-08-01' '2023-03-14'
 '2023-10-25' '2023-07-28' '2023-08-31' '2023-04-25' '2023-12-08'
 '2023-12-26' '2023-08-25' '2023-10-18' '2023-06-06' '2023-01-13'
 '2023-05-11' '2023-07-11' '2023-10-03' '2023-09-21' '2023-06-11'
 '2023-02-15' '2023-10-02' '2023-09-27' '2023-11-09' '2023-05-12'
 '2023-05-21' '2023-04-10' '2023-12-24' '2023-07-23' '2023-08-08']
type_operation => ['Traitement' 'Maintenance' 'Inventaire' 'Formation']
type_document => ["Carte d'identité" nan 'Livre de famille' 'Acte de naissance' 'Passeport'
 'Certificat de nationalité' 'Casier judiciaire']
raison_rejet => ['Non éligible' nan 'Double demande' 'Signature manquante'
 'Photo non conforme' 'Erreur acte' 'Papiers incomplets'
 'Adresse invalide' 'Date expiration']
incident_technique => ['Non' 'Oui']
heure_debut => ['08:00' '09:00' '08:30' '08:15' '07:15' '08:45' '09:30' '09:15' '09:45'
 '07:30' '07:00' '07:45']
heure_fin => ['16:00' '19:00' '17:30' '16:15' '15:15' '16:45' '16:30' '19:30' '18:30'
 '18:45' '18:15' '17:45' '17:00' '15:30' '15:00' '17:15' '18:00' '19:45'
 '15:45' '19:15']

Logs :

* Manquants : type_document=80, raison_rejet=103

* Doublons : 0

* Types incohérents : date_operation=object

* Observations : type_document=80, raison_rejet=103